.bg {
    background-image: url(/Users/gkikvilashviliexpogeorgia.ge/Documents/Repositors/bellini-v1/public/img/img/bg.jpg);
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding-top: 10%;
    margin-top: 20px;
    position: absolute;
	z-index: -1;
}