.bg {
    background-image: url(/Users/gkikvilashviliexpogeorgia.ge/Documents/Repositors/bellini-v1/public/img/img/bg.jpg);
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
    position: fixed;
	height: 100vh;
}