.blog {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    width: 100%;
    margin: 50px 0px;
    background: rgb(236,211,203, .3);
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    backdrop-filter: blur(4px);
    padding: 30px;
    gap: 50px;
}

.blog-name {
display: flex;
flex-direction: column;
overflow: hidden;
margin: 20px;
}

.blog-intro {
    overflow: hidden;
    display: flex;
    height: auto;
    width: 100%;
    position: relative;
    background: rgb(27,27,27, .3);
    border-radius: 15px;
    box-shadow: 5px 5px 20px black;
}

.blog-intro img {
    display: flex;
    max-width: 10rem;
    max-height: 10rem;
    margin: 20px;
}

.blog-title {
    margin: 15px;
    padding: 5px;
    text-transform: uppercase;
    text-align: center;
}

.blog-text {
    line-height: 1.5;
    text-indent: 20px;
    text-align: justify;
    white-space: wrap;
}