.cards {
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 20px;
}

.card {
    max-width: 240px;
    border-radius: 5px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
    position: relative;
    height: 400px;
    margin: 0 auto;
}

.card img {
    width: 100%;
    transition: 0.8s;
    display: block;
}


.detals {
    height: 70px;
    background-color: aliceblue;
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    background: rgb(27, 27, 27, .8);
    color: white;
    bottom: 0px;
    transition: 0.4s;
}

.detals h3 {
    margin: 10px;
    font-size: 0.9rem;
    font-weight: bold;
}
.detals h4 {
    margin: 10px;
    font-size: 0.8rem;
    font-weight: 600;
    color: brown;
}

.detals p {
    font-size: 0.7rem;
    margin: 10px;
    visibility: hidden;
    opacity: 0;
    transition: 0.7s;
}

.card:hover .detals {
    height: 350px;
}

.card:hover p {
    opacity: 1;
    visibility: visible;
}

.card img:hover {
    transform: scale(1.1) rotate(-2deg);
}

@media screen and (max-width: 700px) {
    .cards {
   grid-template-columns: auto;
    }
}