.team {
    display: flex;
      margin: 50px 0px;
      min-height: 100vh;
      background: rgb(236,211,203, .3);
      border-radius: 15px;
      overflow: hidden;
      position: relative;
      backdrop-filter: blur(4px);
      padding: 30px;
      justify-content: center;
      width: 100%;
  }


.employees {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    grid-auto-rows: minmax(375px,1fr);
    gap: 20px;
    width: 100%;
    height: 100%;
    position: relative;
}

.employee {
    background: rgb(27, 27, 27, .5);
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    box-shadow: 5px 5px 20px black;
    transition: 0.5s;
}

.employee img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    transition: 0.5s;
}

.person {
    position: absolute;
    padding: 15px;
    left: 20;
    top: 150px;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;
    width: 100%;
    align-items: center;
    gap: 15px;
    
}



.employee-name {
    font-size: 0.9rem;
    font-weight: 600;
    color: white;
}

.employee img:hover {
    transform: rotate(-2deg);
}


.employee:hover {
    width: 375px;
    height: 375px;
    border-radius: 10px;
    border-top-left-radius: 100px;
    visibility: visible;
   
}

.employee:hover .person {
    visibility: visible;
    opacity: 1;
}


.employee-post {
    font-size: 0.8rem;
    font-weight: 500;
    transition: 1s;
    visibility: hidden;
}
.employee:hover .employee-post {
    visibility: visible;
}

.employee-about {
font-size: 0.7rem;
font-weight: 600;
color: antiquewhite;
transition: 1s;
visibility: hidden;
text-indent: 30px;
text-align: justify;
line-height: 1.5;
}
.employee:hover .employee-about {
    visibility: visible;
}

