.footer {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0px;
    gap: 30px;
    justify-content: space-between;
}

.fbg {
    width: 100%;
    background-color:#ecd3cb;
    margin-top: 30px;
    height: 280px;
    position: relative;
}

iframe {
    width: 350px;
    height: 200px;
    border: none;
}

.contactMail {
    display: flex;
}

.contactMail input{
    font-size: 0.8rem;
}

.contactMail textarea {
    font-size: 0.8rem;
}



.contactMail form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 375px;
}

textarea {
    height: 100px;
}

.btn-submit {
    text-decoration: none;
    background-color: black;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    padding: 10px 20px;
    box-shadow: 4px 5px 12px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 4px 5px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 5px 12px 0px rgba(0,0,0,0.75);
    transition: 0.4s;
    border: none;
    cursor: pointer;
}

.btn-submit:hover {
transform: scale(0.95);
}

.callmail {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.mobile {
    display: flex;
    align-items: center;
    gap: 20px;
}

.mobile a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 600;
}

.mailTel {
    display: flex;
    align-items: center;
    gap: 20px;
}

.mailTel a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 600;
}

.mailTel a:hover {
    transform: scale(1.05);
    color: gray;
}

.mobile a:hover {
    transform: scale(1.05);
    color: gray;
}

.callmail h3 {
    text-transform: uppercase;
    font-size: 0.9rem;
}

.callmail p {
    font-size: 0.8rem;
    font-weight: 600;
}

@media screen and (max-width: 700px) {
   
    .footer {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }

    iframe {
        width: 100%;
    }

}