.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    max-height: 100px;
    height: 100%;
    padding-top: 30px;
}

.left img{
position: relative;
max-width: 180px;
}

.left {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header__left__title {
    display: flex;
    flex-direction: column;
}

.header__left__title a {
    text-decoration: none;
    color:gray;
    font-size: 0.7rem;
    font-weight: 600;
    text-transform: uppercase;
}

.header__left__title a:hover{
    color: black;
}

.header__left__title h1 {
    font-size: 1.4rem;
    color: black;
    text-transform: uppercase;
}

.header__right a {
    text-decoration: none;
    background-color: black;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    padding: 10px 20px;
    box-shadow: 4px 5px 12px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 4px 5px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 5px 12px 0px rgba(0,0,0,0.75);
    transition: 0.4s;
}
.header__right a:hover {
    transform: scale(0.9);
    background-color: gray;
    color: black;
}

.social a img{
    width: 30px;
}
.social {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    gap: 15px;
    align-items: center;
}

.social a:hover{
    transform: scale(0.9);
}
.social a {
    transition: 0.3s;
}

@media screen and (max-width: 700px) {
	.info {
		max-width: 300px;
		padding: 200px 20px;
		height: 200px;
		margin-left: 7%;
	}
    .header {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-bottom: 150px;
        align-items: center;
    }

    .left {
        display: flex;
        flex-direction: column;
    }

    .social {
        display: none;
    }

    .header__left__title h1 {
        display: none;
    }
    .header__left__title a {
        display: none;
    }
 }