.navbar {
    display: flex;
    align-items: center;
}

.navbar ul {
    display: flex;
    gap: 30px;
}

.navbar ul li {
 list-style-type: none;
}

nav{
    display: flex;
    gap: 20px;
    width: 100%;
    padding: 5px 0px;
    align-items: center;
}

.navi {
    text-decoration: none;
    color:black;
    font-weight: 600;
    font-size: 0.8rem;
    text-transform: uppercase;
    transition: 0.4s;
    position: relative;
}

.navi:hover{
    transform: scale(0.95);
}


.navi::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.08rem;
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(210,48,48,1) 100%);
    left: 0;
    bottom: 0;
    transform: scale(0,1);
    transition: 0.5s ease;
}


.navi:hover::after{
    transform: scale(1,1);
}

.burger {
    visibility: hidden;
}
.close {
    visibility: hidden;
}
@media screen and (max-width: 700px) {
    .burger {
        visibility: visible;
        position: absolute;
        left: 2rem;
        top: 2rem;
    }
    .nav-menu {
        display: flex;
        flex-direction: column;
    }
    .nav-menu ul {
        flex-direction: column;
        position: relative;
        align-items: center;
        gap: 10px;
        width: 300px;
    }

    .nav-menu ul li {
        text-align: center;
        width: 300px;
        padding: 10px 0px;
        border: solid 1px gray;
        background: rgb(27, 27, 27, .4);
    }

    .close {
        position: absolute;
        left: 2rem;
        top: 2rem;
        visibility: visible;
    }
    .burger.active {
        display: none;
    }

    .nav-menu.active {
        display: none;
    }
}
