.services {
    display: flex;
    flex-direction: column;
    margin: 50px 0px;
    height: 100vh;
    background: rgb(236,211,203, .3);
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    backdrop-filter: blur(4px);
    padding: 30px;
}